# Exclude all sub-directories within main directory:
/*/

#
node_modules/
z-PersonalNote.*
testing.txt
.env


# Negate the above exclude i.e. include the below sub-directories:
!part0/
!part1/
!part2/
!part3/
!part4/
!part5/
